@import "tailwindcss";

@layer components {

  .Rubik{
    font-family: var(--font-rubik);
    line-height: normal;
  }
  .Noto{
    font-family: var(--font-noto-sans);
    line-height: inherit;
  }
}
